/*for the home page*/
.link-box{
  float:left;
  background-color: maroon;
  width:250px;
  height: 55px;

  color: #fff;
  border: 1px solid black;
  padding: 0px 10px 5px 10px;
  margin-right: 30px;
  margin-bottom: 20px;
  overflow: hidden;


  -webkit-box-shadow: 16px 27px 24px 0px rgba(0,0,0,0.53);
  -moz-box-shadow: 16px 27px 24px 0px rgba(0,0,0,0.53);
  box-shadow: 16px 27px 24px 0px rgba(0,0,0,0.53);
}

.myNavbar{
  background-color: #eee;
}

.mysearchBox{
  padding-left: 4px;
}

.link-box:hover{
  background-color: #bf2a61;
  
}

.link-box-link{
  background-color: lightgray;
  color: black;
}

.footer{
  background-color: black;
  margin-top: 260px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}

.link-title-text{
    padding: 0;
    margin: 0;
    margin-bottom: 3px;
}

.deleteME{
  background-color: red;
  color:black;
  margin: 0;

  position: relative;
  top:20px;
  left:200px;

}

.title{
  background-color: #eee;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.link-form{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.add-link-form-content{

 width:20vw;
 height: 40px;
 border: 2px sold black;
 color: black;
margin-bottom: 5px;
padding-left: 4px;


}
.modal-header, .btn-close{
  background-color: maroon;
  color: #fff;
}

.backToTop{
  border: 2px solid maroon;
  position: fixed;
  top:84vh;
  left:93vw;
  padding: 7px 7px;
  width: 40px;
  height: 40px;
  background-color:#fff;


}

.backToTop:hover{
  border: 2px solid black;
  width: 45px;
  height: 45px;
  background-color: pink;


}
/*end home page*/

/*for login page*/

#login-title-overlord{
  margin-top: 15%;
}
.login-form{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  margin-top: 1%;

  padding: 10px 10px 30px 10px ;

}

.form-content{
  background-color: #353030;
 width:18vw;
 margin-left: 8%;
 height: 40px;
 border: 2px sold black;
 color: #fff;
 border-radius: 6.5%;
margin-bottom: 25px;
padding-left: 4px;

}

.login-title{
  background-color: maroon;
  color: #fff;
  padding-top:0.5px;
  padding-bottom: 1px;
  margin-bottom:30px;
}

.my-login-body{
  background-color: #C9BEBE;
}

.cover{
  width: 100vw;
  position: fixed;
  min-height: 100%;
  background-color: black;
  display: none;
  z-index: 1200;
  top:0vh;
}

#coverlink:hover , #uncoverlink:hover{
  cursor: pointer;
}



#uncoverlink{

  border: 2px solid green;
  border-radius: 50%;
  position: absolute;
  top: 80vh;
  left: 50vw;

  height: 60px;
  width: 60px;
  background-color: green;
  color: #fff;
}


/*end for login page*/

@font-face{
  font-family: 'font-woodland';
  src:url('../font/TheWoodlands.otf') format('opentype');
  font-weight: 100;
}
@font-face{
  font-family: 'font-cusiveAlex';
  src:url('../font/AlexBrush.ttf') format('opentype');
  font-weight: 100;
}
@font-face{
  font-family: 'head-font-cusiveAlex';
  src:url('../font/AlexBrush.ttf') format('opentype');
  font-weight: bold;
}
.font-woodland{
  font-family: font-woodland;
}

.head-font-cusiveAlex{
  font-family: head-font-cusiveAlex;
}
.font-cusiveAlex{
  font-family: font-cusiveAlex;
}

@media screen and (max-width:480px;){

  .add-link-form-content{
   width:100px;
  }
}
